@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --verde-escuro: #0D4B60;
  --verde-limao: #E6FF2A;
  --cinza: #BABABA;
  --preto: #000;
  --branco: #fff;

  --gradiente: linear-gradient(90deg, #1414c9, #2b00ff, #fb00ff, #ff13cc);
  --azul-escuro: #1414c9;
  --azul-claro: #2b00ff;
  --roxo: #fb00ff;
  --rosa: #ff13cc;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

