.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* min-height: 100vh; */
  padding: 0 2rem;
  gap: 2rem;
}

/* HEADER COMPONENT */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

.logoSpan {
  font-size: 2rem;
  font-weight: bold;
  background: var(--gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
}

.navbarList{
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbarItem {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbarItem:hover {
  color: #2b00ff;
  transition: color 0.3s ease;
}

.navbarItem:active {
  color: #fb00ff;
  transition: color 0.3s ease;
}

.navbarLink {
  text-decoration: none;
}

/* HERO COMPONENT */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-top: 2rem;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  background: var(--gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroSubtitle {
  font-size: 1.5rem;
  color: #333;
}

.heroDescription {
  font-size: 1.2rem;
  color: #555;
  max-width: 50%;
}

.heroButtons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.heroButton {
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #2b00ff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.heroButton:hover {
  background-color: #fb00ff;
  transition: background-color 0.3s ease;
}

.heroImageSection {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.heroImageGradient {
  width: 100%;
  height: 5rem;
}
